{% extends 'print_service/base.html' %}
{% load i18n %}

{% block title %}{% trans "Upload Payment Slip" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-lg mt-5">
            <div class="card-header bg-primary text-white text-center">
                <h4><i class="fas fa-upload me-2"></i>{% trans "Upload Payment Slip" %}</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-success btn-lg">
                            <i class="fas fa-upload me-2"></i>{% trans "Upload" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 